<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="https://img.icons8.com/64/rabbit.png" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,700;1,300&display=swap" rel="stylesheet">
    <title>EVENT MBA</title>
    <script src="../../public/script.js"></script>
</head>
<body>
   <header>
       <input type="checkbox" id=checkbox-menu>
       <label for="checkbox-menu">
           <ul class="menu touch">
               <li><a class="logo" href="#">EVENT MBA</a></li>
               <li><a href="index.html">Home</a></li>
               <li><a href="news.html">News</a></li>
               <li><a href="#">Marker</a></li>
               <li><a href="#">Personal Area</a></li>
               <li><a href="#">About us</a></li>
           </ul>
           <span class="toggle">☰</span>
       </label>
   </header>
   <div class="intro">
    <form action="">
        <h1 class="regTitle" title="Форма входа в личный кабинет">Вход в личный кабинет</h1>
        <div class="group">
            <label class="regLable" for="">Логин</label>
            <input type="text">
        </div>
        <div class="group">
            <label class="regLable" for="">Пароль</label>
            <input type="password">
        </div>
        <div class="group">
            <center><button>Войти</button></center>
        </div>
        <div class="group">
            <a href="#" class="regRef">Регистрация</a>
        </div>
    </form>
    </div>
     <div class="intro-basement">
        <div class="container tagline">
            <p style="text-align: center"><i class="firstTagline"></i>EVENT MBA — минималистичное СМИ.</p>
            <p style="text-align: center"><i class="firstTagline"></i>Ничего лишнего, визуальные концепции в мире EVENT.</p> <div class="intro-contacts">
            <div class="container row-contacts">
               <p><i class="fas fa-phone-alt"></i>(999)123-456-789</p>
               <p><i class="fas fa-map-marker-alt"></i>Belgorod, Russia</p>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
